@use "../../../styles.scss" as global;

.add-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.work-container {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.work-container-centered-vertical {
    flex-direction: column;
    justify-content: center;
}

.pages-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.page {
    padding: 5px;
    margin: 5px;
    height: 460px;
    width: 340px;
    border: 2px solid global.$lines;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;

    .page-header {
        display: flex;
        flex-direction: row;

        .spacer {
            flex-grow: 1;
        }
    }
}

.page:hover {
    border-color: global.$hover;
}

.add-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80px;
    color: global.$lines;
    overflow-y: hidden;
}
.add-page:hover {
    background-color: global.$hover;
    color: global.$background;
}

.item {
    padding: 5px;
    margin: 5px;
    border: 2px solid global.$lines;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    .item-table-area {
        flex-grow: 2;
    }

    .item-button-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;

        .item-button-grow {
            flex-grow: 1;
            margin: 2px;
        }
    }
}