@use "styles.scss" as global;

.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.workspace-area {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}