@use "../../styles.scss" as global;

.action-bar {
    background-color: global.$lines;
    display: flex;
    flex-direction: row;

    .action-bar-button {
        padding: 10px;
    }.active{
        background-color: global.$background;
    }

    .action-bar-button.inactive:hover {
        background-color: global.$hover;
    }
}